body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin:0;
  padding:0;
  text-decoration: none;
  list-style-type: none;
 outline: none;
}
.body_img{
  background-image: url('Poster.png');
  background-repeat: no-repeat;
  max-width: 100%;
  height: 110vh;
position: relative;
  background-attachment: fixed;
}

.container{
  width: 100%;
  margin: 1em auto;

  
}
.grid{
  display: grid;
  margin-left: .5px;
  grid-template-columns: repeat(4,1fr);
grid-gap: 0.2em;
justify-content: center;
}
.img_text{

  font-family: DM Sans;
font-size: 48px;
font-weight: 700;
line-height: 56px;
letter-spacing: 0em;
text-align: left;

}
.text_two{
  font-family: DM Sans;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0em;
text-align: left;

}
#watch{
 background: #BE123C;
 border: none;

}



@media only screen and (max-width: 780px) {
.wrap_text{
padding-top: 15vh;

}
}
@media only screen and (min-width: 780px) {
.wrap_text{
  padding-top: 19vh;
}
}